* {
    box-sizing: border-box;
  }


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: #fff;
    color: #000;
  }
  
  .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
  }

  .hero {
    color: white;
    /* padding: 145px 20px; */
    text-align: center;
    position: relative;
    border-bottom: 32px solid #de041c;
    width: 100vw;
    height: 58vh;
  }

  .hero-text {
    position: relative;
    z-index: 1;
    padding: 145px 20px 0; 
  }
  
  .hero-text h1 {
    font-size: 38px;
    font-weight: 900;
    line-height: 0.8;
    letter-spacing: -1px;
  }
  
  .hero-text .red {
    font-size: 64px;
    letter-spacing: -2px;
    color: #de041c;
  }
  
  .hero-text .white {
    color: white;
  }

 .hero-text p {
    font-size: 10px;
 }
  
  .video-section {
    /* background: transparent; */
    padding: 10px;
    text-align: center;
    z-index: 100;
    /* margin: -250px auto -435px auto; */
    width: 500px;
    aspect-ratio: 16/9;
    height: auto;
    max-width: 100%;
    justify-items: center;
  }
  
  .video-container {
    position: relative;
    margin: 50px auto;
    padding-top: 56.25%; /* 16:9 ratio */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6); /* strong shadow */;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  
  .content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    gap: 30px; 
  }
  
  /* Image collage */
  .collage {
    display: none;
  }



/* Text Block */

  .text-block {
    width: 100%;
    padding-left: 0.5rem;
    flex-shrink: 0; 
    /* margin-top: 237px; */
  }
  
.splash {
    /* outline: 2px dashed purple; */
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-top: -570px;
    opacity: 0.1;
    z-index: -1;
}
  
  .text-block h2 {
    font-size: 18px;
    font-weight: 800;
  }

  .text-block p {
    font-size: 8px;
    line-height: 1.3;
    width: 75%;
  }

.heading {
    border-bottom: solid 2px black;
}
  
  .highlight {
    color: #de041c;
    font-weight: 900;
    font-size: 28px;
    line-height: 0.6;
  }
  
  .red-text {
    color: #de041c;
    font-weight: 700;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1439px){
    .video-section {
        padding: 10px;
        text-align: center;
        z-index: 100;
        margin: -150px auto -435px auto;
        width: 350px;
        aspect-ratio: 16/9;
        height: auto;
        max-width: 100%;
        justify-items: center;
      }
    
      .text-block {
        width: 50%;
        padding: 0;
        flex-shrink: 0; 
        margin-top: 416px;
      }

  .splash {
    /* outline: 2px dashed purple; */
    width: 100%;
    height: auto;
    /* margin-left: 10px; */
    margin-top: -471px;
    opacity: 0.1;
    z-index: -1;
}

  }

  @media screen and (min-width: 1440px) {

    .video-section {
        padding: 10px;
        text-align: center;
        z-index: 100;
        margin: -211px auto -435px auto;
        width: 500px;
        aspect-ratio: 16/9;
        height: auto;
        max-width: 100%;
        justify-items: center;
      }

      .text-block {
        width: 50%;
        padding: 0;
        flex-shrink: 0; 
        margin-top: 416px;
      }

  .splash {
    /* outline: 2px dashed purple; */
    width: 100%;
    height: auto;
    /* margin-left: 10px; */
    margin-top: -471px;
    opacity: 0.1;
    z-index: -1;
}

  }

  @media screen and (min-width: 1920px) {
   
    .hero-text h1 {
        font-size: 50px;
        font-weight: 900;
        line-height: 0.8;
        letter-spacing: -1px;
      }
      
      .hero-text .red {
        font-size: 85px;
        letter-spacing: -2px;
        color: #de041c;
      }

      .hero-text p {
        font-size: 14px;
     }

    .video-section {
        padding: 10px;
        text-align: center;
        z-index: 100;
        margin: -250px auto -435px auto;
        width: 500px;
        aspect-ratio: 16/9;
        height: auto;
        max-width: 100%;
        justify-items: center;
      }

      .text-block {
        width: 50%;
        padding: 0;
        flex-shrink: 0; 
        margin-top: 428px;
      }
  }