
* {
    box-sizing: border-box;
  }


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: #fff;
    color: #000;
  }
  
  .hero {
    background: url('HERO 1.jpg') center/cover no-repeat;
    color: white;
    padding: 145px 20px;
    text-align: center;
    position: relative;
    border-bottom: 32px solid #de041c;
    width: 100vw;
    height: 58vh;
  }
  
  .hero-text h1 {
    font-size: 38px;
    font-weight: 900;
    line-height: 0.8;
    letter-spacing: -1px;
  }
  
  .hero-text .red {
    font-size: 64px;
    letter-spacing: -2px;
    color: #de041c;
  }
  
  .hero-text .white {
    color: white;
  }

 .hero-text p {
    font-size: 10px;
 }
  
  .video-section {
    background: white;
    padding: 150px;
    text-align: center;
    z-index: 100;
    margin: -325px auto -435px auto;
    width: 457px;
    height: 259px;
    max-width: 100%;
    justify-items: center;
  }
  
  .video-container {
    position: relative;
    margin: 50px auto;
    padding-top: 56.25%; /* 16:9 ratio */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6); /* strong shadow */;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  
  .content-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    gap: 30px; 
  }
  
  /* Image collage */
  .image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 50px);
    grid-template-areas:
      "a a a"
      "a a a"
      "a a a"
      "a a a"
      "b c c"
      "b c c";
    gap: 5px;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
  }
  
  .img-a { grid-area: a; object-fit: cover; width: 520px; height: auto; margin-top: 115px; max-width: 100%; }
  .img-b { grid-area: b; object-fit: cover; width: 162px; height: 103px; margin-top: 4px; }
  .img-c { grid-area: c; object-fit: cover; width: 346px; height: 103px; margin-top: 4px; }

  
  .image-grid img {
    object-fit: cover;
    display: block;
  }

#grid-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    max-width: 100%;
    gap: 10px;
    padding: 0;
    margin: 0;
}

#side-img-1{
    width: 200px;
    height: 100px;
    margin-top: 245px;
    margin-left: -4px;
    object-fit: cover;
  }

#side-img-2{
    /* height: 13%; */
    width: 100px;
    margin-left: -5px;
    margin-top: -2px;
  }

  .collage-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-left: 0;
    width: 50%; /* or adjust based on layout needs */
  }
  
  
  #grid-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  


/* Text Block */

  .text-block {
    width: 50%;
    padding: 0;
    flex-shrink: 0; /* Prevents it from squishing too much */
    margin-top: 237px;
  }

  .content-section {
    outline: 2px dashed red;
  }
  
  .collage-wrapper {
    outline: 2px dashed green;
  }
  
  .text-block {
    outline: 2px dashed blue;
  } 
  
.splash {
    outline: 2px dashed purple;
    width: 80%;
    height: auto;
    margin-left: 189px;
    margin-top: -594px;
    opacity: 0.1;
    z-index: -1;
}

  
  .text-block h2 {
    font-size: 18px;
    font-weight: 800;
  }

  .text-block p {
    font-size: 8px;
    line-height: 1.3;
    width: 75%;
  }

.heading {
    border-bottom: solid 2px black;
}
  
  .highlight {
    color: #de041c;
    font-weight: 900;
    font-size: 28px;
    line-height: 0.6;
  }
  
  .red-text {
    color: #de041c;
    font-weight: 700;
  }
  
  @media screen and (max-width: 1440px){

    .img-a { grid-area: a; object-fit: cover; width: 125%; height: 49%; margin-top: 133px;}
    .img-b { grid-area: b; object-fit: cover; width: 97%; height: 88%; margin-top: -119px; }
    .img-c { grid-area: c; object-fit: cover; width: 138%; height: 88%; margin-top: -119px; }

    #side-img-1{
        width: 377px;
        height: 111px;
        margin-top: 245px;
        margin-left: 95px;
        object-fit: cover;
      }
    
    #side-img-2{
        height: 13%;
        width: 45%;
        margin-left: 95px;
        margin-top: -2px;
      }

    .splash {
        outline: 2px dashed purple;
        width: 80%;
        height: auto;
        margin-left: 189px;
        margin-top: -535px;
        opacity: 0.1;
        z-index: -1;
    }
  }

  @media screen and (max-width: 768px){

    .video-section {
        background: white;
        padding: 150px;
        text-align: center;
        z-index: 100;
        margin: -325px auto -435px auto;
        width: 84%;
        height: 30%;
        justify-items: center;
      }

      .collage-wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: nowrap;
        padding-left: 0;
        margin-left: 0;
        width: 50%;
        margin-top: 166px;
      }

    .img-a { grid-area: a; object-fit: cover; width: 134%; height: 56%; margin-top: 7px;}
    .img-b { grid-area: b; object-fit: cover; width: 118%; height: 556%; margin-top: -67px; }
    .img-c { grid-area: c; object-fit: cover; width: 143%; height: 556%; margin-top: -67px; margin-left: 10px;}

    #side-img-1{
        width: 74%;
        height: 43%;
        margin-top: 75px;
        margin-left: 50px;
        object-fit: cover;
      }
    
    #side-img-2{
        height: 22%;
        width: 48%;
        margin-left: 50px;
        margin-top: -2px;
      }

      .text-block {
        width: 50%;
        padding: 0;
        flex-shrink: 0; /* Prevents it from squishing too much */
        /* margin-top: 417px; */
      }

    .splash {
        outline: 2px dashed purple;
        width: 100%;
        height: auto;
        margin-left: 1px;
        margin-top: -361px;
        opacity: 0.1;
        z-index: -1;
    }
  }

  @media screen and (min-width: 320px){

    .hero-text {
        margin-top: -40px;
    }

    .video-section {
        background: white;
        padding: 150px;
        text-align: center;
        z-index: 100;
        margin: -300px auto -435px auto;
        width: 100%;
        height: 30%;
        justify-items: center;
      }

      .collage-wrapper {
        display: none;
        flex-direction: row;
        gap: 10px;
        flex-wrap: nowrap;
        padding-left: 0;
        margin-left: 0;
        width: 50%;
        margin-top: 166px;
      }

    .img-a { display: none; grid-area: a; object-fit: cover; width: 134%; height: 56%; margin-top: 7px;}
    .img-b { display: none; grid-area: b; object-fit: cover; width: 118%; height: 556%; margin-top: -67px; }
    .img-c { display: none; grid-area: c; object-fit: cover; width: 143%; height: 556%; margin-top: -67px; margin-left: 10px;}

    #side-img-1{
        display: none;
        width: 74%;
        height: 43%;
        margin-top: 75px;
        margin-left: 50px;
        object-fit: cover;
      }
    
    #side-img-2{
        display: none;
        height: 22%;
        width: 48%;
        margin-left: 50px;
        margin-top: -2px;
      }

      .text-block {
        width: 50%;
        padding: 0;
        flex-shrink: 0; /* Prevents it from squishing too much */
        /* margin-top: 417px; */
      }

    .splash {
        outline: 2px dashed purple;
        width: 100%;
        height: auto;
        margin-left: 1px;
        margin-top: -361px;
        opacity: 0.1;
        z-index: -1;
    }
  }